.card {
    box-sizing: border-box;
    height: calc(100% - 1.5rem);
    padding-top: 150px;          /* 画像分あける */
    padding-bottom: 105px;       /* バナー分あける */
}
.card .card-image {
    top: 0;
    position: absolute;
    width: 100%;
    height: 150px;
}
.card .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .card-action {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 105px;
}
.card-action ul{
    margin: 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.flex .col.margin-clear{
    margin-left : 0px;
}

.copylight{
    font-size : 9px;
}